__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
venv/
env/
uploads/
*.db
*.log
node_modules/
.idea/
.vscode/
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.txt
*.sh
*.md
!taikhoan.txt
!requirements.txt